<! doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>The Energy Efficiency Potential of Cloud-Based Software</title>


    <link href="css/impress.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

     <!-- Bootstrap reference -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

     <!-- Zing chart reference -->
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js" type="text/javascript"></script>
<script src="http://cdn.zingchart.com/angular/zingchart-angularjs.js">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js" type="text/javascript"></script>
      <script src="js/data.js" type="text/javascript"></script>
      <script src="js/app.js" type="text/javascript"></script>
</head>

<body class="impress-not-supported" ng-app="main" ng-controller="calculatorCtrl">

 <!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="index" class="step slide" data-x="100" data-y="-1500">
      <img src="images/dimensiondata.png" title="Cloud" width="25%" /><br/><br/>
        The Energy Efficiency Potential of <strong>Dimension Data Cloud</strong>
        <br/><br/>
        <p>Cloud computing holds great potential to  reduce data center energy demand moving forward, due to both large reductions in total servers through consolidation and large increases in facility efficiencies compared to traditional local data centers.</p>
        <button id="next">Get started</button>
    </div>

    <div id="title" class="step" data-x="0" data-y="0" data-scale="4" data-rotate="300">

        <h4><b>Number of employees in your organization:</b></h4>
        <input type="text" class="form-control" ng-model="numberOfEmployees" id="numberOfEmployees" ng-change="calculateComputerUsingEmployees()"/>

        <h4><b>Your industry:</b></h4>
        <select id="industry" class="form-control" ng-options="industry as industry for industry in industries" ng-model="chosenIndustry"
        ng-change="calculateComputerUsingEmployees()"></select>

        <h4><b>Location:</b></h4>
        <select class="form-control" id="serverLocation">
            <option></option>
            <option> Austria </option>
            <option> Belgium </option>
            <option> Bulgaria </option>
            <option> Cyprus </option>
            <option> Czech Republic </option>
            <option> Denmark </option>
            <option> Estonia </option>
            <option> EU 27 Average </option>
            <option> Finland </option>
            <option> France </option>
            <option> Germany </option>
            <option> Greece </option>
            <option> Hungary </option>
            <option> Ireland </option>
            <option> Italy </option>
            <option> Latvia </option>
            <option> Lithuania </option>
            <option> Luxembourg </option>
            <option> Malta </option>
            <option> Netherlands </option>
            <option> Poland </option>
            <option> Portugal </option>
            <option> Romania </option>
            <option> Slovak Republic </option>
            <option> Slovenia </option>
            <option> Spain </option>
            <option> Sweden </option>
            <option> UK </option>
            <option>United States</option>
            <option>US Average</option>
        </select>
    </div>
     <!--

        This element introduces rotation.

        Notation shouldn't be a surprise. We use `data-rotate="90"` attribute, meaning that this
        element should be rotated by 90 degrees clockwise.

    -->
    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="100" data-scale="5">
        <zingchart id="myChart" zc-json="myJson" zc-height=500 zc-width=600></zingchart>
    </div>

     <!--

        This step here doesn't introduce anything new when it comes to data attributes, but you
        should notice in the demo that some words of this text are being animated.
        It's a very basic CSS transition that is applied to the elements when this step element is
        reached.

        At the very beginning of the presentation all step elements are given the class of `future`.
        It means that they haven't been visited yet.

        When the presentation moves to given step `future` is changed to `present` class name.
        That's how animation on this step works - text moves when the step has `present` class.

        Finally when the step is left the `present` class is removed from the element and `past`
        class is added.

        So basically every step element has one of three classes: `future`, `present` and `past`.
        Only one current step has the `present` class.

    -->
    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="2">
      <p>Organizations have differing IT requirements and emissions footprints based on their industry. For example, a telecommunications
        typically has a higher number of dedicated servers that an argicultural or farming organization.
      </p>
      <p>
        In {{chosenIndustry}} the average percentage of computer using employees is <b ng-bind="computerUsingEmployeesPercent*100"></b>%, which in your company
        adds up to <b ng-bind="computerUsingEmployees"></b> people.
      </p>
    </div>
    
    <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
      <p>
        Workloads that we you might considering moving to the cloud because they benefit from centralisation and do not require local access are email, CRM and Productivity tools.
      </p>
      We estimate that your application usage is around
      <p ng-repeat="application in user_to_application_usage">

        <b>{{application.application}} users  - {{computerUsingEmployees*application.medium_usage}}</b>
      </p>
    </div>

     <!--

        And the last one shows full power and flexibility of impress.js.

        You can not only position element in 3D, but also rotate it around any axis.
        So this one here will get rotated by -40 degrees (40 degrees anticlockwise) around X axis and
        10 degrees (clockwise) around Y axis.

        You can of course rotate it around Z axis with `data-rotate-z` - it has exactly the same effect
        as `data-rotate` (these two are basically aliases).

    -->
    <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it’s</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
        <span class="footnote">* beat that, prezi ;)</span>
    </div>

     <!--

        So to summarize of all the possible attributes used to position presentation steps, we have:

        * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
            the canvas in pixels; their default value is 0;
        * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
            the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
            are exactly the same;
        * `data-scale` - defines the scale of step element; default value is 1

        These values are used by impress.js in CSS transformation functions, so for more information consult
        CSS transfrom docs: https://developer.mozilla.org/en/CSS/transform

    -->
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>
<script src="js/impress.js"></script>
<script>impress().init();</script>
<script>
$("#next").click(function () {
   impress().next();
});

$("#prev").click(function () {
   impress().prev();
});
</script>
</body>
</html>
